@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #404040;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  top: 50%;
  left: 50%;
  width: 76vw;
  height: 60vh;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  height: 75vh;
  border-radius: 17px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  z-index: 99;
  color: aliceblue;
}

.card-started::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -15px;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(315deg, rgba(98, 155, 156, 0.4) 0, rgba(98, 156, 155, 0.01) 100%);
  background: linear-gradient(135deg, rgba(98, 155, 156, 0.4) 0, rgba(98, 156, 155, 0.01) 100%);
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  -khtml-border-radius: 17px;
  z-index: -2;
}

.card-started::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(315deg, rgba(37, 37, 109, 0.4) 0, rgba(120, 204, 109, 0.01) 100%);
  background: linear-gradient(135deg, rgba(37, 37, 109, 0.4) 0, rgba(120, 204, 109, 0.01) 100%);
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  -khtml-border-radius: 17px;
  z-index: -1;
}

.card-started .profile__photo {
  height: auto;
  width: 65%;
  margin: 0 auto;
  background: -o-linear-gradient(315deg, rgba(181, 156, 98, 0.4) 0, rgba(181, 156, 98, 0.01) 100%);
  background: linear-gradient(135deg, rgba(181, 156, 98, 0.4) 0, rgba(181, 156, 98, 0.01) 100%);
  padding: 13px;
  border-radius: 0 20% 0 20%;
  overflow: hidden;
}

.profile__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 20%;
}

.profile .title {
  font-size: 34px;
  text-align: center;
}

.subtitle {
  font-size: 24px;
}

.typed-text {
  overflow: hidden;
  border-right: 0.2px solid #fff;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  -webkit-animation: typing 5s steps(30), blink-caret 0.3s step-end infinite;
  animation: typing 5s steps(30), blink-caret 0.3s step-end infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid;
  padding-top: 10px;
  margin-top: 20px;
}

.social a {
  font-size: 30px;
  color: #fff;
}

.lnks {
  text-align: center;
  margin-top: 20px;
}

.download-lnk {
  font-size: 16px;
  font-weight: bold;
  color: aliceblue;
  text-decoration: none;
  margin: 0 auto;
}
#home-card,
.home-card{
    display: none;
}
.home-card__profile{
    display: grid;
    grid-template-columns: 60%;
}
.home-card__profile .profile__photo{
width: 30%;
border-radius: 50%;
}
.home-card__profile a{
color: #101010;
}
.card-wrap {
  width: 100%;
}

.content {
  margin-bottom: 20px;
}

.tabs__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.tabs__content-item.active {
  visibility: visible;
  opacity: 1;
  width: 100%;
  -webkit-transition: width 0.9s ease-in-out;
  -o-transition: width 0.9s ease-in-out;
  transition: width 0.9s ease-in-out;
}

.tabs {
  background: rgba(10, 10, 10, 0.6);
  z-index: 999999;
  position: relative;
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(251, 253, 255, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(251, 253, 255, 0.2);
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.tabs__nav-btn {
  background: #fff;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.tabs__nav-btn a span {
  color: #000;
}

.tabs__nav-btn.active {
  -webkit-box-shadow: 0px 5px 10px 10px rgb(37, 37, 109);
  box-shadow: 0px 5px 10px 10px rgb(37, 37, 109);
}

.tabs__nav-btn.active a span {
  color: #4c7753;
}

.card {
  position: relative;
  width: 90%;
  height: 60vh;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(251, 253, 255, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(251, 253, 255, 0.2);
}

.card__inner {
  height: 100%;
  background-color: aliceblue;
  padding: 20px;
  position: absolute;
  overflow-x: hidden;
  max-height: 60vh;
  border-radius: 0 4px 4px 0;
}

.card .title {
  font-size: 24px;
  color: #101010;
  position: relative;
  margin: 10px 0 15px;
}

.card .title span {
  font-size: 24px;
  color: #4c7753;
  position: relative;
}

.card .title:before {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  width: 30px;
  height: 30px;
  background: -o-linear-gradient(315deg, rgba(120, 204, 109, 0.4) 0, rgba(120, 204, 109, 0.01) 100%);
  background: linear-gradient(135deg, rgba(120, 204, 109, 0.4) 0, rgba(120, 204, 109, 0.01) 100%);
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  background: -o-linear-gradient(315deg, rgba(76, 119, 83, 0.4) 0, rgba(76, 119, 83, 0.01) 100%);
  background: linear-gradient(135deg, rgba(76, 119, 83, 0.4) 0, rgba(76, 119, 83, 0.01) 100%);
}

.skills-list.circles .progress {
  margin: 0 auto;
  position: relative;
  font-size: 90px;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background: #eee;
}

.skills-list.circles .progress *, .skills-list.circles .progress :after, .skills-list.circles .progress :before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.skills-list.circles .progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 90px;
  font-size: 17px;
  color: #323232;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
  border-color: #4c7753;
}

.skills-list.circles .progress:after {
  position: absolute;
  top: 0.09em;
  left: 0.09em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #fff;
  width: 0.82em;
  height: 0.82em;
}

.fill,
.bar {
  position: absolute;
  width: 0.82em;
  height: 0.82em;
  clip: rect(0, 0.5em, 1em, 0);
  border: 0.09em solid #78cc6d;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.p95 .bar {
  -ms-transform: rotate(324deg);
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg);
}

.row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.resume-title,
.skills .skill-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4c7753;
  margin-top: 25px;
}

.resume-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

.date {
  margin: 0 0 11px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #4c7753;
  opacity: 0.8;
}

.name {
  font-size: 18px;
  color: #323232;
  font-weight: 900;
  margin-bottom: 5px;
}

.company{
font-weight: 900;
opacity: 0.5;
 margin-bottom: 5px;
}
.resume-item p {
     font-size: 14px;
  opacity: 0.7;
}

.row-content__content {
  width: 45%;
}

.skills-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.skills .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.name {
  font-weight: 400;
  opacity: 0.8;
}

.skills-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.skill {
  width: 30%;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

.projects__item-link,
.projects__item-link img {
  height: 350px;
  margin: 0 auto;
  border-radius: 4px;
}

.projects__item-link img {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(251, 253, 255, 0.4);
  box-shadow: 0px 5px 10px 2px rgba(251, 253, 255, 0.4);
}

.projects__item-link img:hover {
  -webkit-box-shadow: 0px 5px 10px 10px rgba(37, 37, 109, 0.4);
  box-shadow: 0px 5px 10px 10px rgba(37, 37, 109, 0.4);
}

.form{display:flex;flex-wrap:wrap; gap:10px; max-width: 500px; margin: 0;}
.form__input-wrap{display:flex;flex-direction:column;  width:40%;margin-bottom:22px;position: relative;}
.form__input{width:100%;height:41px;border-radius:5px;padding-left:10px;border:solid 1px #9e99a14f;background:#fff!important}
.email,.phone{width:271px}
.phone-wrap{display:flex;justify-content:space-between}
.country-select{width:97px;border-radius:5px;font-size:16px;font-weight:500;line-height:1.5;color:#101010;padding-left:8px;background:0 0;-webkit-appearance:none;-moz-appearance:none;appearance:none}
select option{ color: #101010;}
.phone-input{width:164px}
.contact-message{width:100%;max-width:581px}
.contact-message textarea{height:100px;resize:none}
.form__label{font-size:16px;font-weight:700;margin-bottom:1px;line-height:1.88;color:#101010;opacity:.8}
.button{ 
    border: 1px solid #4c7753;
    width: 200px;
        background: linear-gradient(135deg, rgba(76, 119, 83, 0.4) 0, rgba(76, 119, 83, 0.01) 100%);
}
.errornew sup{
  font-size: 16px;
}
.message{margin-top:5px;text-align: right;}
.form__input._error~.error {color:#ed2222; font-size: 12px; position: absolute; bottom: -17px;}
 .error {color:#fff;
font-size: 0;}

.form-btn{margin:9px 0}
.form-btn input{cursor:pointer;}

@media (max-width:1030px) {
    .container{
        flex-direction: column;
        height: auto;
        width: 100%;
        position: absolute;
        top: 20px;
        left: 0;
        transform: translate(0);
    }
    .header{
        position: fixed;
       transform: translateX(-100%);
       left: 0;
      top: 20px;
       transition: all 0.5s;
    }
     .header.active{
     transform: translateX(0);
        z-index: 99999999;
    }
 
    .card-started{
       flex-direction: row;
       width: 100%;
       height: 20vh;
    }
    .profile{
      display: flex;
    }
  
    .card-started .profile__photo{
      width: 200px;
      height: 200px;
    }
    .burger {
    position: relative;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 99;
  }

  .burger span,
  .burger span:before,
  .burger span:after {
    width: 100%;
    position: absolute;
    height: 4px;
    background: #fff;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
  }

  .burger span:before {
    content: "";
    top: -10px;
    -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .burger span {
    top: 10px;
  }

  .burger span:after {
    content: "";
    bottom: -10px;
    -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .burger span.active:before {
    content: "";
    /* width: 20px;
    height: 2px; */
    top: 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .burger span.active:after {
    content: "";
    /* width: 20px;
    height: 2px; */
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .burger span.active {
    background: transparent;
  }
  #home-card,
.home-card{
    display: block;
}
.card,
.card__inner{
    height: 80vh;
    max-height: 80vh;
}
.skills .row,
.row-content {
    flex-wrap: wrap;
    justify-content: start;
}
.skill,
.row-content__content {
    width: 55%;
}
body{
    padding-top: 2vh;
}
}